<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConexionTaxis" connectionString="Server=JEFRY;DataBase=DBTaxis_Palmares;Trusted_Connection=True;"/>
    <add name="Conexion" connectionString="Server=JEFRY;DataBase=DBTaxis_Palmares;User Id=sa;Password=sa;"/>
  </connectionStrings>
</configuration>